$primary-color: linear-gradient(45deg, #FCE419, #F39914);

.card-memory {
    position: relative;
    width: 186px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .card-memory-img {
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin: auto;
  }
  
  .card-memory .front {
    transform: rotateY(90deg);
    position: absolute;
  }
  .flipped .front {
    transform: rotateY(0deg);
  }
  
  .card-memory .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
  }
  .flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
  }
  